---
layout: default
title: Gallery
---

<div class="container">

    <div class="page-header">
        <h1>Gallery</h1>
    </div>

    {% for i in site.data.gallery %}
        {% capture loopindex %}{{ forloop.index | modulo:3 }}{% endcapture %}
        {% if loopindex == 0 %}<div class="row">{% endif %}

        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                {% if i.link %}
                    <a href="{{ i.link }}">
                {% endif %}
                <img src="{{ i.image }}" alt="{{ i.title }}">
                {% if i.link %}
                    </a>
                {% endif %}
                <p><h3>{{ i.title }}</h3></p>
                {% if i.desc %}
                    <p>{{ i.desc }}</p>
                {% endif %}
            </div>
        </div>

        {% if loopindex == 2 %}</div>{% endif %}
    {% endfor %}
</div>
