<nav class="navbar navbar-fixed-top hypatia-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/assets/logotype.png" alt="Hypatia">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}/divein.html">Dive in!</a></li>
                <li><a href="{{ site.baseurl }}/contribute.html">Contribute</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>
