<div class="panel panel-default wiki_sidebar">
    <div class="panel-body">
        <p>
            <ul>
                <li><a href="{{ site.baseurl }}/wiki/"><i class="glyphicon glyphicon-home"></i> Wiki home</a></li>
                <li><a href="{{ site.github.repository_url }}/edit/master{{ page.url | replace: '.html', '.md' }}"><i class="glyphicon glyphicon-pencil"></i> Edit on GitHub</a></li>
                <hr>
                <li><a href="{{ site.baseurl }}/wiki/contributing.html">Contributing to Hypatia</a></li>
                <li><a href="{{ site.baseurl }}/wiki/contributing_site.html">Contributing to the website</a></li>
            </ul>
        </p>
    </div>
</div>
