.hypatia-navbar
    background: #333
    color: #fff
    border-bottom: 1px solid #ccc

    .navbar-brand img
        height: 20px
        width: auto

    .icon-bar
        background: #fff

    a
        color: #fff

        &:not(.navbar-brand):hover
            color: #333
            background: #fff
