---
---

@import 'colors'

body
    margin-top: 50px

.jumbotron
    background: #333
    color: #fff

    a
        color: $iaccent500

        &:hover
            color: $iaccent50

@import 'navbar'
@import 'homepage'
@import 'blog'
@import 'donate'
