---
layout: default
---

<div class="container">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>
                {{ page.title }}
                {% if page.author %}
                    <small>by {{ page.author }}</small>
                {% endif %}
            </h1>
        </div>

        {{ content }}

        <ul class="pager clearfix">
            {% if page.previous %}
                <li class="previous">
                    <a aria-hidden="true" href="{{ site.baseurl }}{{ page.previous.url }}">
                        &laquo; Previous post
                    </a>
                </li>
            {% endif %}
            {% if page.next %}
                <li class="next">
                    <a aria-hidden="true" href="{{ site.baseurl }}{{ page.next.url }}">
                        Next post &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
